<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{projet?.Titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-row style="border-bottom:1px solid #ebeef3;">
         <ion-col> <h3>Titre  :</h3> </ion-col>
        <ion-col>
        
            <h5 >{{projet?.Titre}}</h5>

          
        </ion-col>
       </ion-row>
       <ion-row style="border-bottom:1px solid #ebeef3;">
        
         <ion-col> <h3>Chef de projet  :</h3> </ion-col>
        <ion-col>
        
            <h5 >{{projet?.chef}}</h5>

          
        </ion-col>
       </ion-row>
       <ion-row style="border-bottom:1px solid #ebeef3;">
         <ion-col> 
            <h3>status  :</h3>

        </ion-col>
        <ion-col> 
        
            <h5>
              <ion-badge [style.background]="subbadgeColor" class='crud'>
                <ion-badge class='crud-e' [style.background]="projet?.badgeColor">
                  {{status}}
                </ion-badge>
              </ion-badge>

            </h5>
          
        </ion-col>
       </ion-row>


       <ion-row style="border-bottom:1px solid #ebeef3;">
        <ion-col>
        
            <h3><ion-icon name="calendar-number-outline"></ion-icon>Date-debut    :  </h3 > 
          
        </ion-col>
        
          <ion-col> 
          
           <h3> {{projet?.date_debut}}</h3>
            
          </ion-col>
       </ion-row>

       <ion-row style="border-bottom:1px solid #ebeef3;">
        <ion-col>
        
            <h3><ion-icon name="calendar-number-outline"></ion-icon>Date-fin    :  </h3 >
        </ion-col>
        <ion-col>
      
           <h3> {{projet?.date_fin}}</h3>
          
          </ion-col>
       </ion-row>
      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col>  <ion-accordion-group expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="primary">
              <ion-label><h2>Sujet du projet</h2></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item class="sujet" lines="none">{{projet?.sujet}}</ion-item>        
            </div>

          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="primary">
            <ion-label>Equipe de projet</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item  lines="none" *ngFor="let member of projet?.equipe"><ion-icon name="people-outline"></ion-icon>{{member}}</ion-item>
          </div>

        </ion-accordion>
      </ion-accordion-group>






      <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="primary">
            <ion-label>Taches</ion-label>
          </ion-item>
          <div slot="content">
           
            <ion-accordion-group expand="inset" *ngFor="let tache of projet?.taches;let i = index;"> 
              <ion-accordion value="first">
              <ion-item slot="header" color="light">
                 <ion-label class="tache-title">
                  
                  <ion-icon *ngIf="!tache.isdone" name="checkmark-done-circle-outline"></ion-icon> <ion-icon *ngIf="tache.isdone"  color="tertiary" name="checkmark-done-circle-outline"></ion-icon><ion-label *ngIf="!tache.isdone">{{tache.title}}</ion-label><del *ngIf="tache.isdone">{{tache.title}}</del>
                
                </ion-label>
              </ion-item>
             <div class="tache-content ion-padding" slot="content">
                {{tache.title}}
             </div>
              </ion-accordion>
              </ion-accordion-group> 
                  </div>
                  
                </ion-accordion>
                </ion-accordion-group>  






        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
   
    <ion-item></ion-item>
  
  </ion-list>
</ion-content>