.sujet{
    font-size: large;
 }
 
 ion-label{
     font-size: large;
 }
 
 .margin-left{
     margin-left: 20px;
 }
 
 .tache-title{
     width: 10px;
     overflow: quote($string: "....");
 }
 
 .tache-content{
     // white-space: initial;
     overflow-wrap: break-word;
 }
 .crud-e{
    border-radius: 50px; 
    font-size: 16px;
  }
  .crud-e:hover{
    width: 100%;
  }
  .crud{
    border-radius: 50px; 
   
    padding: 9px;
    margin: 5px;
    height: auto;
    width: auto;
  }