<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{projet?.Titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Titre  :</h3>
        <ion-item> <h5>{{projet?.Titre}}</h5></ion-item>
        <h3>Chef de projet  :</h3>
        <ion-item><h5>{{projet?.chef}}</h5></ion-item>
        <h3>Equipe de projet :</h3>
        <ion-item  lines="none" *ngFor="let member of projet?.equipe"><ion-icon name="people-outline"></ion-icon>{{member}}</ion-item>
      <h3>status  :</h3>
        <ion-item> <span [style.color]="projet?.badgeColor">{{projet?.status}}</span></ion-item>

        <h3><ion-icon name="calendar-number-outline"></ion-icon></h3>

        <h3>Date-debut    :  </h3>
        <ion-item>{{projet?.date_debut}}</ion-item>
        <h3>Date-fin   :  </h3>
        <ion-item>{{projet?.date_fin}}</ion-item>
      </ion-col>
      <ion-col>
        <h2>Sujet du projet</h2>
        <ion-item class="sujet" lines="none">{{projet?.sujet}}</ion-item>
        <h3>Taches:</h3>

        <ion-item  lines="none" *ngFor="let tache of projet?.taches">
          <ion-icon name="checkmark-done-circle-outline"></ion-icon><ion-label>{{tache}}</ion-label></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
   
    <ion-item></ion-item>
  
  </ion-list>
</ion-content>