<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/dash"></ion-back-button>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item style="border-left: solid 3px red;" *ngFor="let projet of important">   
      Projet <span style="font-weight: bold; color: red; margin-left: 20px; margin-right: 15px;">{{projet.Titre}}</span> a dépassé le délai 
  </ion-item>
  <ion-item style="border-left: solid 3px blue;" *ngFor="let projet of close">
 
      le Projet <span style="font-weight: bold; color: red; margin-left: 20px; margin-right: 15px;">{{projet.Titre}}</span> va bientôt commencer 
  
  </ion-item>
</ion-list>
</ion-content>
