<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
    <ion-buttons style="font-size: 30px;" slot="end" [routerLink]="['notifications']">
      <ion-badge color="danger">{{passe_delai}}</ion-badge>
      <ion-icon  name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="body">
    <ion-row>
      <!-- cards columns -->
      <ion-col size-md="6" offset-md="2">
        <ion-grid>
          <ion-row>
            <ion-col >
              <!-- ajouter card  -->
              <ion-card class="projet-retarde">
                <ion-row>
                  <ion-col>
                    <ion-card-header >
                      <ion-card-title>Projet retarde</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="avatar4"><div class="jhon">{{P}}</div></div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>  
              </ion-card>  
            </ion-col>
            <ion-col>
              <!-- projet en cours card  -->
              <ion-card class="projet-cour">
                <ion-row>
                  <ion-col>
                    <ion-card-header >
                      <ion-card-title>Projet en cours</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="avatar"><div class="jhon">{{G}}</div></div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>  
              </ion-card>             
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col>
              <!-- total de projet  card  -->
              <ion-card class="projet-total">
                <ion-row>
                  <ion-col>
                    <ion-card-header >
                      <ion-card-title>Totaliter de projet</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="avatar2"> {{T}}</div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>  
              </ion-card>      
              <!-- tach non terminer  -->
            </ion-col>
            <ion-col>
              <ion-card class="projet-ter">
                <ion-row>
                  <ion-col>
                    <ion-card-header >
                      <ion-card-title> Projet terminer </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="avatar3">{{F}}</div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>  
              </ion-card>      
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- list columns ave checkbox-->

    </ion-row>
    <!-- liste avec overflow  -->
  <ion-grid>
    <ion-row>
      <ion-col offset-md="2">
        <div class="overflow">
          <ion-row>
            <ion-col size="5">
              <h2>Projets</h2>
            </ion-col>
            <ion-col size="7" >
              <ion-searchbar  color="dark" ngModel #value='ngModel' [debounce]="" (ionChange)="handleChange(value.value)"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
          <ion-list>
          
              <ion-grid class="items">
                
                  <ion-row class="titles">
                    <ion-col>Titre</ion-col>
                    <ion-col>Date-debut</ion-col>
                    <ion-col>Date-fin</ion-col>
                   
                  </ion-row>
                
                <ion-row class="rows_data" *ngFor="let projet of search_result">
                  <ion-item-sliding class="slider">
                    <ion-item-options side="start">
                      <ion-item-option style="background-color: #2d38d3;" [routerLink]="[projet.id]"><ion-icon name="eye-outline"></ion-icon></ion-item-option>
                    </ion-item-options>
                
                    <ion-item class="list_item" lines="none">
                        <ion-col>{{projet.Titre}}</ion-col>
                        <ion-col>{{projet.date_debut}}</ion-col>
                        <ion-col>{{projet.date_fin}}</ion-col>
                        
                    
                    </ion-item>
                
                    
                  </ion-item-sliding>
                  
                </ion-row>
              </ion-grid>
          </ion-list> 
        </ion-col>
        </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
 
</ion-content>
