ion-card{
    margin-top:70px;
    justify-content: space-between;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 8px 3px 22px 10px rgba(150,150 ,150, 0.11);
}
ion-input {
    border-radius: 6px;
}
ion-card *{
    margin: 10px;
    font-size: 15px;
}
.login {
    display: grid;
    place-content: center;
}
img{
    border-radius: 10px;
    width: 100px;
}