<ion-content color="moud" >
  <div class="login">
    <ion-grid color="primary">
      <ion-card class="card">
        <ion-card-header class="ion-text-center">
          <ion-card-title class="title"><strong>Connection</strong></ion-card-title>
            
            <img src="https://www.mediafire.com/convkey/0c80/mwvqjk5cql8u609zg.jpg" alt="">
          </ion-card-header>
      <ion-card-content class="ion-text-center  ion-padding">
          <form ngForm #f="ngForm" (ngSubmit)="login({email:f.value.email,password:f.value.pass})">
            <ion-item >
              <ion-icon name="mail-outline" color="primary"></ion-icon>
              <ion-label position="">Email</ion-label>
              <ion-input ngModel type="text" name="email" #email="ngModel" required></ion-input>
            </ion-item>
            <ion-note slot="error" color="danger" *ngIf="email.invalid&&email.touched">email rquired</ion-note>
            <ion-item>
              <ion-icon name="bag-outline" color="primary"></ion-icon>
              <ion-label position="">password</ion-label>
              <ion-input ngModel type="password" name="pass" #pass="ngModel" required minlength="8"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="pass.invalid&&pass.touched">invalid password minimal lenght 8 char</ion-note>
            <div class="button">
              <ion-button type="submit" [disabled]="!f.valid">Connection</ion-button>
            </div>
          </form>
          <ion-note >Si vous n'avez pas de compte, veuillez contacter l'administrateur</ion-note>
        </ion-card-content>
      </ion-card>
  </ion-grid>
</div>
</ion-content>